@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700;800&family=Poppins:wght@200;400;800&family=Roboto+Condensed:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}


.wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.bgBlock {
    margin-left: 10px;
    margin-top: 10px;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    position: relative;
    background-color: #ACDEDA;
    z-index: 5;
}

.mainBlock {
    z-index: 6;
    position: absolute;
    height: 100vh;
    width: 60vw;
    background-color: #fff;
    left: 0;
    border-radius: 0px 40px 40px 0px;
}
.infoFill {
    margin-right: 10%;
    margin-left: 10%;
}

.infoFill > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoFill > h3 {
    display: flex;
    padding-top: 25px;
    color: #656565;
    justify-content: center;
    font-weight: 400;
}

.gofa{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.google >a {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    color: #656565;
    box-shadow: 1px 1px 10px rgba(101, 101, 101, 0.178);
    transition: all 300ms ease;
}

.google >a:hover {
    border: 1px solid #bdbdbd;
    box-shadow: 1px 1px 10px rgba(101, 101, 101, 0.274);
} 
.google > a > h3 {
    font-weight: 400;
    text-decoration: none;
    font-size: 13px;
}
.google >a>img {
    width: 22px;
}

.info {
    z-index: 8;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info > input {
    outline: none;
    border: none;
    margin-top: 30px;
    font-size: 16px;
    width: 50%;
}

.info > div {
    background-color: #bdbdbd;
    width: 50%;
    height: 1px;
}

.info>img{
    width: 20px;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    margin-left: 36%;
    margin-top: 5.8rem;
    transition: all .4s ease;
}
.info>img:hover{
    opacity: 1;
}
.info>button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background-color: #ACDEDA;
    box-shadow: 1px 1px 10px rgba(101, 101, 101, 0.178);
    transition: all 300ms ease
}

.info>button:hover {
    background-color: #a3d3cf;
    border: 1px solid #bdbdbd;
    box-shadow: 1px 1px 10px rgba(101, 101, 101, 0.274);
}

.info>h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
.bgImg {
    z-index: 6;
    position: absolute;
    right: -2%;
    bottom: -2%;
    width: 65%;
    pointer-events: none;
}

.logo {
    position: absolute;
    opacity: 0;
}

/**************** This is for medium devices ****************/
@media (max-width: 1000px){
    .info > input {
        width: 70%;
    }
    
    .info > div {
        width: 70%;
    }
    
    .info>img{
        margin-left: 49%;
        margin-top: 5.8rem;
    }

    .info>h4 {
        font-size: 10px;
    }
}

/* ************************For Tabs ********************** */
@media (max-width: 800px){
    .gofa{
        flex-wrap: wrap;
    }
    
    .google >a {
        height: 35px;
        width: 170px;
    }

    .google > a > h3 {
        font-weight: 400;
        text-decoration: none;
        font-size: 11px;
    }
    .google >a>img {
        width: 19px;
    }

    .infoFill > h3 {
        font-size: 14px;
    }

    .info {
        margin-top: -20px;
    }

    .info > input {
        font-size: 14px;
        width: 70%;
    }
    
    .info > div {
        background-color: #bdbdbd;
        width: 70%;
        height: 1px;
    }
    
    .info>img{
        width: 18px;
        margin-left: 50%;
        margin-top: 5.5rem;
    }

    .info >button {
        height: 35px;
        width: 70%;
        font-size: 16px;
    }

}

@media (max-width: 550px){
    .bgBlock {
        margin-left: 10px;
        margin-top: 10px;
        height: calc(100vh - 20px);
        width: calc(100vw - 20px);
        position: relative;
        background-color: #ACDEDA;
        z-index: 5;
    }

    .mainBlock {
        background-color: hsla(0, 0%, 100%, 0.144); 
        height: 100%;
        width: 100%;
    }

    .infoFill {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .gofa {
        flex-wrap: nowrap
    }

    .google >a {
        gap: 8px;
        height: 30px;
        width: 150px;
        background-color: rgba(255, 255, 255, 0.637);
    }

    .google >a > h3 {
        font-size: 10px;
    }

    .google >a > img {
        width: 18px;
    }

    .info > input {
        background-color: transparent;
        width: 16rem;
    }

    .info > div {
        height: 0.7px;
        width: 16rem;
        background-color: #7e7e7e;
    }

    .info > button {
        color: #292929;
        font-weight: 800;
        width: 16rem;
        background-color: rgba(255, 255, 255, 0.637);
    }

    .info > button:hover {
        background-color: rgb(255, 255, 255);
    }
    .info > img {
        margin-left: 50%;
        margin-top: 5.5rem;
    }

    .logo {
        opacity: 1;
        width: 80px;
        left: 43%;
        top: 30px;
    }
    .bgImg{
        position: absolute;
        opacity: 0;
    }
}